:root {
  --medium-gray: #23252c;
  --medium-dark-gray: #1a1b21;
  --dark-gray: #161619;
  --tan-font: #f3bf99;
  --light-blue: #5093e2;
  --white: #fff;

  --font-size-small: 0.75rem;
}

html,
body {
  margin: 0;
  width: 100%;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--medium-gray);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#root {
  display: flex;
  justify-content: center;
  width: 100%;
}

.card--container {
  background-color: var(--medium-dark-gray);
  color: var(--white);
  border-radius: 0.625em;
  width: 90%;
  max-width: 317px;
  margin: 2em 0;
}

.header--img {
  width: 100%;
}

.card-intro > * {
  text-align: center;
  width: 100%;
  margin: 0;
}

.card-intro--position {
  color: var(--tan-font);
}

.card-intro--website {
  font-size: var(--font-size-small);
  margin-top: 0.25em;
}

.contact-container {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.contact-container--button {
  display: flex;
  border: none;
  border-radius: 0.5em;
  margin: 0 0.5em;
  padding: 0.5em 1.75em;
}

.contact-container--button:nth-child(1) {
  background-color: var(--white);
  margin: 0 0.5em;
}

.contact-container--button:nth-child(2) {
  background-color: var(--light-blue);
  color: var(--white);
  margin: 0 0.5em;
}

.contact-container--button img {
  margin-right: 0.5em;
}

.detail--container {
  margin-top: 1em;
}

.detail--container > * {
  margin: 0;
}

.detail--container--title {
  font-size: 1rem;
  line-height: 1.5em;
  margin: 0;
}

.detail--container--content {
  font-size: var(--font-size-small);
}

main {
  padding: 1.5rem 2.25rem;
}

footer {
  background-color: var(--dark-gray);
  display: flex;
  justify-content: center;
  border-bottom-right-radius: 0.625em;
  border-bottom-left-radius: 0.625em;
  padding: 1em;
}

footer img {
  padding: 0 0.75em;
}
